body{
    color: black;
    background-color:rosybrown;
    }
    
    section{
    background: rgb(160, 77, 71);
    padding-bottom: 5px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    }
    
    .chamada-texto{
    margin-right: 5%;
    }
    img{
    height: 210px;
    }
    .categorias_videos{
    display: flex;
    overflow: auto;
    gap: 30 px;
    }
    